html, body {
    margin-top: 50px;
}

#content {
    width:724px;
    margin: 0 auto;
    padding-left:24px;
    height: 800px;
}

/* navigation */
nav {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width:100%;
    background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);
    padding: 10px;
    text-align: center;
}



nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li {
 display: inline-block;
 width: 10%;
 border: 1px solid black;
 border-radius: 5px;
}

nav li a {
    color:rgb(50,50,50);
    font-weight:700;
}

a.nav-active {
    color:#ccc;
}

/*section:before {
content:"";
display: block;
height: 60px; 
margin: -60px 0 0;
visibility: hidden;
}*/

section {
    margin-top: -50px;
    padding-top: 50px;
}

